/*
========================================================================================
    Nextflow config file for running full-size tests
========================================================================================
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/scatacpipe -profile test_full,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
  filter_doublet_ratio = 1.0

  archr_scrnaseq                = "/home/kh45w/workflow/test_data/archr/scRNA-Hematopoiesis-Granja-2019.rds"
  // archr_scrnaseq_grouplist      = 'cTNK = c("19_CD8.N", "20_CD4.N1", "21_CD4.N2", "22_CD4.M", "23_CD8.EM", "24_CD8.CM", "25_NK"), cNonTNK = c("01_HSC", "03_Late.Eryth", "05_CMP.LMPP", "07_GMP", "08_GMP.Neut", "09_pDC", "11_CD14.Mono.1", "12_CD14.Mono.2", "16_Pre.B", "17_B")' // use full name to avoid double counting

  // filter out undesired samples:
  // filter_sample = 'PBMC_10K_V, PBMC_10K_N'

  // filter out undesired clusters:
  // filter_seurat_harmony = 'C9'

  modules {
    // integrate matching scRNA-seq data:
    archr_scrnaseq = '/home/kh45w/project/umw_cole_haynes/04.annotated.pbmc_scrnaseq_se.RDS'

    // adjusting ArchR doublet filtering ratio:
    'archr_filter_doublets' {
      archr_filter_doublets_ratio = 1.0
    }

    // specify a list of marker genes:
    'archr_marker_gene_clusters' {
      // args is for ArchR::getMarkerFeatures()
      args = 'useMatrix = "GeneScoreMatrix", bias = c("TSSEnrichment", "log10(nFrags)"), testMethod = "wilcoxon"'

      // getMarkers_cutoff is for ArchR::getMarkers()
      getMarkers_cutoff = 'cutOff = "FDR <= 0.05 & Log2FC >= 1"'

      // marker_genes is for plotting marker genes
      //marker_genes = 'default' // by default, the first 3 will be plotted, customized example see below:
      marker_genes = 'CD33, CD86, FCGR1A, S100A8, S100A9, S100A12, FCGR1B, LYZ, FCGR2A, CD14, TLR1, TLR2, TLR4, TLR6, TLR7, TLR8, CCR2, CD1C, CST3, CD68, PTCRA, MS4A7, FCGR3A, CD4, ITGAM, LGALS3, FCER1G, S100A4, CD44, SELL, LTB, CCR7, CD27, CD3D, CD3E, CD3G, IL7R, CD28, CD8A, CD8B, FOXP3, IL2RA, KLRB1, GZMK, ALOX5AP, GNLY, NKG7, NCAM1, TRDC, GZMH, GZMB, KLRC2, KLRC1, CD79A, TCL1A, CD19, TLR10, IGHA1, IGHG1, TSPAN13, HLA-DRA, HLA-DOA, HLA-DQA1, MS4A1, FCER1A, IL1B, CD38, TYMS, PF4, PPBP'

      // args2 is for visualizing embedding
      args2 = 'colorBy = "GeneScoreMatrix", quantCut = c(0.01, 0.95)'

      // args3 is for track plotting with ArchR::ArchRBrowser()
      args3 = 'upstream = 50000, downstream = 50000'
    }
    'archr_marker_gene_clusters2' {
      // args is for getMarkerFeatures
      args = 'useMatrix = "GeneScoreMatrix", bias = c("TSSEnrichment", "log10(nFrags)"), testMethod = "wilcoxon"'

      // marker_genes is for marker genes
      marker_genes   = 'default' // by default, the first 3 will be plotted, customized example see below:
      marker_genes = 'CD33, CD86, FCGR1A, S100A8, S100A9, S100A12, FCGR1B, LYZ, FCGR2A, CD14, TLR1, TLR2, TLR4, TLR6, TLR7, TLR8, CCR2, CD1C, CST3, CD68, PTCRA, MS4A7, FCGR3A, CD4, ITGAM, LGALS3, FCER1G, S100A4, CD44, SELL, LTB, CCR7, CD27, CD3D, CD3E, CD3G, IL7R, CD28, CD8A, CD8B, FOXP3, IL2RA, KLRB1, GZMK, ALOX5AP, GNLY, NKG7, NCAM1, TRDC, GZMH, GZMB, KLRC2, KLRC1, CD79A, TCL1A, CD19, TLR10, IGHA1, IGHG1, TSPAN13, HLA-DRA, HLA-DOA, HLA-DQA1, MS4A1, FCER1A, IL1B, CD38, TYMS, PF4, PPBP'

      // args2 is for visualizing embedding
      args2 = 'colorBy = "GeneScoreMatrix", quantCut = c(0.01, 0.95)'

      // args3 is for track plotting with ArchRBrowser
      args3 = 'upstream = 50000, downstream = 50000'
    }
    'archr_scrnaseq_unconstrained' {
      args = 'groupRNA = "BioClassification"' // alternative: cell_type
      marker_genes = 'CD33, CD86, FCGR1A, S100A8, S100A9, S100A12, FCGR1B, LYZ, FCGR2A, CD14, TLR1, TLR2, TLR4, TLR6, TLR7, TLR8, CCR2, CD1C, CST3, CD68, PTCRA, MS4A7, FCGR3A, CD4, ITGAM, LGALS3, FCER1G, S100A4, CD44, SELL, LTB, CCR7, CD27, CD3D, CD3E, CD3G, IL7R, CD28, CD8A, CD8B, FOXP3, IL2RA, KLRB1, GZMK, ALOX5AP, GNLY, NKG7, NCAM1, TRDC, GZMH, GZMB, KLRC2, KLRC1, CD79A, TCL1A, CD19, TLR10, IGHA1, IGHG1, TSPAN13, HLA-DRA, HLA-DOA, HLA-DQA1, MS4A1, FCER1A, IL1B, CD38, TYMS, PF4, PPBP'
    }
    'archr_scrnaseq_constrained' {
      marker_genes = 'CD33, CD86, FCGR1A, S100A8, S100A9, S100A12, FCGR1B, LYZ, FCGR2A, CD14, TLR1, TLR2, TLR4, TLR6, TLR7, TLR8, CCR2, CD1C, CST3, CD68, PTCRA, MS4A7, FCGR3A, CD4, ITGAM, LGALS3, FCER1G, S100A4, CD44, SELL, LTB, CCR7, CD27, CD3D, CD3E, CD3G, IL7R, CD28, CD8A, CD8B, FOXP3, IL2RA, KLRB1, GZMK, ALOX5AP, GNLY, NKG7, NCAM1, TRDC, GZMH, GZMB, KLRC2, KLRC1, CD79A, TCL1A, CD19, TLR10, IGHA1, IGHG1, TSPAN13, HLA-DRA, HLA-DOA, HLA-DQA1, MS4A1, FCER1A, IL1B, CD38, TYMS, PF4, PPBP'
    }

    // other params to change:

  }
}
