params {
  preprocess          = 'chromap'
  outdir              = './results_chromap'
  input_fastq         = './assets/10X_human_scatac_fastq.csv'
  ref_fasta_ensembl   = 'homo_sapiens'
  species_latin_name  = 'homo sapiens'
  archr_blacklist     = '/home/hl84w/lucio_castilla/scATAC-seq/docs/hg38-blacklist.v2.bed.gz'
  archr_scrnaseq      = '/path/scRNA-Hematopoiesis-Granja-2019.rds'
}
